.aboutus-container{
    margin-top: 25px;
    /* width: 100%;
    height: 150vh; */
    color:white;
    /* font-family:'Roboto'; */
}
/* .aboutus-container p ,.aboutus-container h1{
    /* font-family:'Roboto'; 
} */
 .dropdown:hover .dropdown-menu{
    display: block;
 }
.dropdown-menu{
    display: none;
    z-index: 1000;
    position: absolute;
}

.costomize-txt{
    
    text-align: center;
    font-weight: 60;
    font-size: 20px;
}

.our-services{
    margin-top: 35px;
    margin-left: 10px;
    /* width: 100%;
    height: 350vh; */
    color:white;
    font-family:'Roboto';
}

.card-custom .card-img-top {
    width:auto;
    height: 150px;
}
.our_vision{
    /* width: 100%;
    height: 100vh; */
    margin-top: 35px;
    width: 100%;
}