.dropdown:hover .dropdown-menu{
    display: block;
 }
.dropdown-menu{
    display: none;
    z-index: 1000;
    position: absolute;
}

.job-description{
    margin-top: 50px;
    margin-left: 50px;
    margin-right:50px;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 0px -1px 5px rgba(253, 250, 250, 0.466);
    border: 1px solid white;
}