*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.head-section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(1B1B1B,fff);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-material{ 
    text-align: center;
}
.head-material h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.head-material h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.custom-radius{
   border-radius: 50px;
}

/* .head-material a{
    text-decoration: none;
    display:inline-block;
    color:#fff;
    font-size:24px;
    border:2px solid #fff;
    padding:14px 60px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}

.head-material a:hover{
    color: #000;
    background-color: #fff;
    border-color: #fff;
} */

.back-video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width:100%;
        height:auto;
    }
}

@media(max-aspect-ratio:16/9){
    .back-video{
        width:auto;
        height:100%;
    }
}
@media (max-width: 768px) {
    .head-material h1 {
        font-size: 2rem; /* Adjust as needed */
    }
    .head-material p {
        font-size: 1rem; /* Adjust as needed */
    }
    .custom-radius {
        border-radius: 25px; /* Example adjustment for smaller screens */
    }
    .btn-outline-light {
        padding: 10px 20px; /* Adjust button padding for smaller screens */
    }
}

body{
    overflow-x: hidden;
}
.custom-font {
    font-family: 'Roboto', sans-serif;
  }
/* .head-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px -2px 5px rgba(255, 255, 255, 0.356);
    color:#fff;
    
} */
/* .title {
    text-align: center;
  } */
    
.head-section .title h2{
    font-size: 40px !important;
    margin-top: 0;
}

.button-head{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF);
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px 30px !important;
    border-radius: 14px !important;
    font-size: 20px !important;
    transition: all ease-in-out 0.3s;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.btn a{
    text-decoration: none;
}

#service-title{
    font-weight: 500 !important;
}

#span{
    font-size: 50px !important;
    font-weight: 900 !important;
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
 
.cover{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF);
    height: 50px;
    margin-bottom: 50px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
.card {
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #232123 !important;
    color: white;
    overflow: hidden;
    perspective: 1000px;
    margin: 20px 0;
}

.card-margin {
    margin-top: 20px; 
    margin-bottom: 20px; 

}

  .card-title {
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    font-family:'Roboto';
  }
  
  .card:hover {
    border-radius: 15px;
    border-color: #ffffffdc;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease 0.2s;
    transform: scale(1.05);
    opacity: 1;
    transition: transform 0.2s ;
    margin-bottom: 30px; /* Adjust margin as needed */
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 270px;
    perspective: 1000px; 
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }

  .flip-card-back {
    border-radius: 5px;
    color: white;
    transform: rotateY(180deg);
  }
 
  @media (max-width: 768px) {
    .content .card {
      margin-bottom: 20px; 
    }
  }
  

.technology-card:hover{
    border-radius: 5px;
    border-color: #ffffffdc;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    cursor:pointer;
    transform: scale(1.1);
}

#nav-link{
    color: rgb(255, 255, 255) !important;   
}
#navbarNavDropdown{
    justify-content: end;
}

.social>a{
    text-decoration: none;
}
p>a{
    text-decoration: none;
}
#nav-link.active{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF);
    color: rgb(255, 255, 255) !important;
    border: none;
}
nav{
    /* border-bottom: 1px solid white; */
    background-color: black;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}
.custom-dropdown {
    width: 550px; /* Fixed width */
    max-height: 180px; /* Max height to enable scrolling if content overflows */
    overflow-y: auto; /* Vertical scrollbar if content exceeds height */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    padding: 0; /* Removes padding to avoid extra space */
}
@media (max-width: 767.98px) {
    .custom-dropdown {
        width: 100%; 
        max-height: 80vh; 
    }
}

/* .dropdown:hover .dropdown-menu{
    display: block;
 } */
/* .dropdown-menu{
    display: none;
    z-index: 1000;
    position: absolute;
} */
.dropdown-item {
    display: flex;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 5px;
    align-items: center;
    color:#0c0707;
}


.dropdown-item:hover {
    background-color: white; 
    color: #030303; 
}
.tab-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technology-card{
    background-color: #313131 !important;
    border-radius: 15px !important;
    min-width: 130px;
    width: 130px;
    height: 160px;
    padding: 10px;
    text-align: center;
    align-items: center;
    transition: all ease 0.2s;
}

.technology-card:hover{
    transform: scale(1.1);
}

.technology-card .card-img-top{
    width: 70px;
    padding-top: 10px;
}


.technology-card .card-title{
    color: rgb(232, 255, 255);
    font-weight: 500;
}


.form-group {
    margin-bottom: 5px;
    align-items: center;
}
.form-group label {
    font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea{
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
}

.form-group input:hover{
    border-color: #ffffffdc;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    cursor:pointer;
    transform: scale(1.0);
}
.form-group textarea:hover{
    border-color: #ffffffdc;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    cursor:pointer;
    transform: scale(1.0);
}
.form-group textarea{
    background-color: black;
}

footer{
    box-shadow: 0px -2px 5px rgba(255, 255, 255, 0.356);
    color:#fff;
    padding-top:20px;
}

footer section a{
    color: #ffffff;
}

.nav-item:hover{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF); 
    /* -webkit-text-fill-color: transparent;  */
    -webkit-background-clip: text;
}
footer section a:hover{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

footer section .fw-bold{
    font-weight: 700 !important;
}

footer section h1{
    color: #7b3ddec5;
    font-weight: 800;
}

.copyright{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF);
}

.fab{
    font-size: 20px;
}

.fab:hover{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
}
    
.backend-tech-col, .frontend-tech-col, .cloud-tech-col, .database-tech-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px){
    .head-section{
        flex-direction: column-reverse;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .head-section .title h1{
        font-size: 30px !important;
    }
    
    .head-section .title{
        margin-left: 20px;
    }

    #service-title{
        margin-top: 5rem;
    }
}

/* custom scrollbar */
::-webkit-scrollbar{
    width:5px;

}
::-webkit-scrollbar-track{
    background: #313131;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(100deg,#ff03abe4, #bb01ffd0, #8103FF);
}
/* up arrow */
#up-arrow {
    position: fixed;
    top: 87%; 
    right: 20px; 
    z-index: 10;
    text-decoration-color: transparent;
}